.ChannelDetails{
    /* grid-column: 1/3; */
    margin: 6px;
}

.ChannelDetails__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ChannelDetailsIcon {
    width: 16px;
    height: 16px;
}

.ChannelDetailsComps{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.channelDetails__p {
    font-size: small;
}

.channelDetails__h2 {
    text-align: left;
    font-size: small;
    font-weight: bold;
}

.ChannelDetails__title {
    font-size: medium;
    font-weight: bold;
    color: #666;
}

