/* SettingsDialog.css */

/* Permet de masquer le bouton pour changer l'avatar */

.file-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    opacity: 0;
}